doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Appointment
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi", crossorigin="anonymous")
  body
    .container
      h3 Appointment
      hr
      table.table.table-bordered.table-striped
        thead.table-dark
          tr
            th Doctor ID
            th Doctor Name
            th Doctor Surname
            th Patient ID 
            th Patient Name
            th Patient Surname
            th Appointment Date
            th Appointment Time
            th Patient Report
        tbody
          each randevu in randevular
            tr 
              td= randevu.doktor_id 
              td= randevu.doktor_ad 
              td= randevu.doktor_soyad 
              td= randevu.hasta_id 
              td= randevu.hasta_ad 
              td= randevu.hasta_soyad 
              td= new Date(randevu.randevu_tarihi).toLocaleDateString('tr-TR')
              td= randevu.randevu_saati 
              td
                div.row
                  div.col-small
                    form(action="/patient/hastaRaporGoster", method="POST")
                      input(type="hidden", name="hastaId", value=randevu.hasta_id)
                      button.btn.btn-info.btn-sm.me-1(type="submit", style="float:left;") Review
